body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: #ff00ff;
}

header {
    background-color: #00ffff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #pink;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #0080ff;
    padding: 1em;
    margin-bottom: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #pink;
}
.profile-picture.circular {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture.circular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
    background-color: #yellow;
    padding: 1em;
    text-align: center;
    color: #pink;
}